/*PC*/
@media screen and (min-width: 992px) {
	.suppliercard {
		width: 1349px;
		height: 727px;
		background-color: white;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}

	.text-responsive-h1 {
		font-size: 2.5vw;
	}

	.text-responsive-p {
		font-size: 1.5vw;
	}
}

/*MOBILE*/
@media screen and (max-width: 991px) {
	.not-opacity {
		background-color: black !important;
	}

	.mt-nav {
		margin-top: 56px;
	}

	.text-responsive-h1 {
		font-size: 2.5vh;
	}

	.text-responsive-p {
		font-size: 1.5vh;
	}
}

.suppliercard {
	background-color: white;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
