/*PC*/
@media screen and (min-width: 992px) {
	.text-responsive-h1 {
		font-size: 2.5vw;
	}

	.text-responsive-p {
		font-size: 1.5vw;
	}

	.slideshow {
		height: 100vh;
	}
}

/*MOBILE*/
@media screen and (max-width: 991px) {
	.not-opacity {
		background-color: black !important;
	}

	.mt-nav {
		margin-top: 56px;
	}

	.text-responsive-h1 {
		font-size: 1.5vh;
	}

	.text-responsive-p {
		font-size: 0.7vh;
	}

	.slideshow {
		height: 40vh;
		object-fit: cover;
	}
}

@media screen and (max-width: 500px) {
	.slideshow {
		height: 30vh;
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.animate-fade-1 {
	animation: fade 4s;
}

.animate-fade-2 {
	animation: fade 4s;
	animation-delay: 2s;
	animation-fill-mode: backwards;
}
