.header {
    background: #d4d4d4;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cardContainer{
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 30px;
}
.card{
    box-shadow: 5px 5px 5px #b3b3b3;
    flex-direction: row;
    margin: 40px;
    marginTop: 40px;
    position:relative;
    white-space: nowrap;
    overflow: hidden;
}

.dateContainer{
    background: #ffc107;
    border: 5px solid #ffc107;
    font-size: 25px;
}
.bodyContainer{
    background-color: white;
    position: absolute;
    left: 80px;
    top: 8px;
}
.linkContainer{
    right:0;
    bottom: 0;
    position:absolute;
}

.btn{
    width: 30px;
}

