.mainContainer {
    /*margin: auto;*/
    /*width: 50%;*/
    /*padding: 10px;*/
}

.bannerImg {
    max-width: 1200px;
    max-height: 500px;
    display: block;
    margin: auto;
    box-shadow: 5px 5px 5px #b3b3b3;
}

.title {
    text-align: left;
}

.tabs{
    padding-left: 1.1em;
}