.leftArrow,
.rightArrow {
  display: none;
}

@media (hover: hover) {
  .scrollDiv:hover .leftArrow,
  .scrollDiv:hover .rightArrow {
    display: inline-block;
  }
}

.hoverBorder:hover {
  border: 2px solid grey;
}
