/*PC*/
@media screen and (min-width: 992px) {
	.text-responsive-h1 {
		font-size: 2.5vw;
	}

	.text-responsive-p {
		font-size: 1.5vw;
	}

	.slideshow {
		height: 100vh;
		object-fit: cover;
	}

	.dropmenu {
		position: absolute;
		background-color: black;
		color: white;
		min-width: 80%;
		z-index: 1;
		left: 50%;
		top: 61px;
		border-radius: 0 0 15px 15px;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		transform: translateX(-50%);
		flex-flow: row;
		transition: max-height 0.5s ease-out;
	}

	.dropmenu-col {
		border-left: 2px solid rgb(50, 50, 50);
	}
}

/*MOBILE*/
@media screen and (max-width: 991px) {
	.not-opacity {
		background-color: black !important;
	}

	.mt-slide {
		margin-top: 56px;
	}

	.text-responsive-h1 {
		font-size: 2.5vw;
	}

	.text-responsive-p {
		font-size: 2vw;
	}
	.slideshow {
		height: 100vh;
		object-fit: cover;
	}

	.dropmenu {
		position: relative;
		color: white;
		margin-right: auto;
		z-index: 1;
		border-radius: 0 0 15px 15px;
		overflow-y: scroll;
		height: 200px;
		flex-flow: column;
		transition: max-height 0.5s ease-out;
	}

	.dropmenu-item {
		text-align: left;
		margin-left: 50px;
	}

	.nav-item {
		margin-right: auto;
		color: grey;
	}
}

@media screen and (max-width: 500px) {
	.slideshow {
		height: 30vh;
	}
}

@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.animate-fade-1 {
	animation: fade 4s;
}

.animate-fade-2 {
	animation: fade 4s;
	animation-delay: 2s;
	animation-fill-mode: backwards;
}

.hover-gold:hover {
	color: #ffc107 !important;
	cursor: pointer;
	text-decoration: #ffc107 underline;
}

.dropmenu-item-header {
	color: white;
	height: 35px;
	border-bottom: 2px solid rgb(50, 50, 50);
}

.dropmenu-item {
	color: white;
}
