body{
    background-color: #ff9600;
}

.mainContainer{
    margin: auto;
    width: 50%;
}

.post{
    padding-top: 1em;
    position: relative;
    top: 2em;
    left: 25%;
}

.SkeletonLoader{
    position: relative;
    left: 25%;
    top: 2.3em;
}